- model_class = @component.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @component.name
%p
  %strong= model_class.human_attribute_name(:quantity) + ':'
  %br
  = @component.quantity

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), components_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_component_path(@component), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), component_path(@component), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
